<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
  <h2>Boxes with Options</h2>
  <div style="display: flex; flex-direction: row;">
    <div style="display: flex; flex-wrap: wrap;">
      @for (box of state.boxes() ; track box.id) {
      <app-box [id]="box.id" [selectedOption]="box.selectedOption" [options]="box.options" [selected]="box.selected"
        style="margin: 0.1rem;"></app-box>
      }@empty {
      <li>There are no items.</li>
      }
      @for (box of state.boxes() ; track box.id) {
      @if(box.selected){
      <div class="app-box-options">
        @for(option of box.options; track option.value){
        <app-sub-box [option]="option" [id]="box.id" [selectedOption]="box.selectedOption"></app-sub-box>
        }
      </div>
      }
      }
      @empty {
      <li>There are no items.</li>
      }
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <div>Total Value: {{ state.totalValue() }}</div>
      <button (click)="reset()">Reset All</button>
    </div>

  </div>

</div>